.container-body{
  background-color: #FCFCFC;
}
.container-nav-menu-app{
  border-right: 1px solid #D8D8D8;
}
.container-tri-cart-statistical-app{
  display: flex;
    justify-content: flex-end;
    align-items: center;
}